<div class="container">
  <div class="nav-wrapper">
    {{link-to 'Mike North' 'index' class="brand-logo"}}
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      {{yield}}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {{yield}}
    </ul>
  </div>
</div>
<div class="main-nav-tabs">
  <div class="container">
  {{md-tabs
    selected=navui.selectedTabId
    content=navui.tabs
    optionValuePath='route'
    optionLabelPath='name'}}
  </div>
 </div>
