// Example app.scss
@import 'components/color';
@import 'components/variables';

// Custom color settings go here
$primary-color: color("deep-purple", "base");

@import 'materialize';
@import 'ember-cli-materialize';

@import "top-nav";
@import "md-horiz-image-card";

$main-top-margin: 40px;

.text-center {
  text-align: center;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: $main-top-margin;
  flex: 1 0 auto;
}



footer {
  .socialicon .fa {
    width: 10px;
    margin-right: 10px;
  }
}

.liquid-container {
  height: 100%;

  position: relative;
  overflow: initial;

  -webkit-transform: initial;
  -moz-transform:    initial;
  transform:         initial;
}

.speaking {
  margin-top: 40px;
}

.brand-logo {
  white-space: nowrap;
}

