
.top-nav {
  > .container:first-child {
    height: 64px;
  }
  .main-nav-tabs{
    max-height: 48px;
    background: $primary-color;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  &.no-tabs .main-nav-tabs{
    max-height: 0;
  }

  ul {
    li a.fa:before {
      margin-right: 5px;
    }
  }
  .tabs {
    background-color: $primary-color;
    .tab {
      a {
        color: white;
      }
    }
    .indicator {
      background-color: white;
    }
  }
}
