<div class="container">
  <div class="row">




    <div class="col s12">
      {{#md-horiz-image-card
        image="/img/modern_web_ui.png"}}

        <div class="row">
          <div class="col s12 l9">
            <a href="http://www.modernwebui.com">
              <h4>Modern Web UI</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">May 13, 2015</span>
          </div>
        </div>

        <h5>Async/Await in ES2015</h5>
        <p>A practical overview of some upcoming improvements to JavaScript semantics for async progroamming, including an overview of generator functions and task.js.</p>
      {{/md-horiz-image-card}}
    </div>

     <div class="col s12">
      {{#md-horiz-image-card
        image="/img/webcomponents.png"}}

        <div class="row">
          <div class="col s12 l9">
            <a href="http://www.modernwebui.com">
              <h4>Web Components Silicon Valley Meetup</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">May 11, 2015</span>
          </div>
        </div>

        <h5>Web Components Revolution - Pure W3C Web Components</h5>
        <p>Mike will take us through the evolution of web components, and then use Chrome and Polymer.js to illustrate what upcoming web standards will empower developers to do with vanilla JavaScript. </p>
      {{/md-horiz-image-card}}
    </div>

        <div class="col s12">
      {{#md-horiz-image-card
        image="/img/tomster.jpeg"}}

        <div class="row">
          <div class="col s12 l9">
            <a href="http://www.svemberjs.com">
              <h4>Silicon Valley Ember.js Meetup</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">Apr 30, 2015</span>
          </div>
        </div>

        <h5>Test like a pro with Ember.js</h5>
        <p>Mike will de-mystify some of the libraries that make writing tests in your app easy, demonstrate how to write maintainable tests that give you a lot of release confidence, and share some lessons learned from building large scale Ember apps at Yahoo.</p>
      {{/md-horiz-image-card}}
    </div>

    <div class="col s12">
      {{#md-horiz-image-card
        image="/img/modern_web_ui.png"}}

        <div class="row">
          <div class="col s12 l9">
            <a href="http://www.modernwebui.com">
              <h4>Modern Web UI</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">Mar 11, 2015</span>
          </div>
        </div>

        <h5>The road to native web components</h5>
        <p>Mike will take us through the evolution of web components, and then use Chrome and Polymer.js to illustrate what upcoming web standards will empower developers to do with vanilla JavaScript.</p>
      {{/md-horiz-image-card}}
    </div>




  </div>
</div>



