<div class="container">
  <div class="row">
    <div class="col s12">
      {{#md-horiz-image-card
        image="/img/wicked_good_ember.png"}}

        <div class="row">
          <div class="col s12 l9">
            <a href="http://www.wickedgoodember.com">
              <h4>Wicked Good Ember 2015</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">Jun 16, 2015</span>
          </div>
        </div>

        <h5>Compose all the things</h5>
        <p>As ember is being used for the foundation of even more ambitious web applications, the appeal of leveraging less code to do more has grown. Keeping composability in mind will allow teams to effectively build their own layers of “boilerplate” on top of the framework, and build apps high quality and velocity.
In this talk, we’ll dive into composable components, computed property macros and tests to explore how investment in generic code can pay off in terms of high degrees of maintainability, testability and extensibility.</p>
      {{/md-horiz-image-card}}
    </div>
    <div class="col s12">
      {{#md-horiz-image-card
        image="/img/mwdcon.png"}}


        <div class="row">
          <div class="col s12 l9">
            <a href="http://mobilewebdevconference.com/">
              <h4>Mobile+Web DevCon</h4>
            </a>
          </div>
          <div class="col s12 l3">
            <span class="badge right deep-purple white-text">Jul 14-16, 2015</span>
          </div>
        </div>


        <h5>Write once, run everywhere: ambitious cross-device web apps</h5>
        <p>Ember.js is an opinionated web framework, that allows developers to focus less on boilerplate, and focus more on what makes their app unique. We'll go over some of the best practices of using Ember for cross-device development, and then build an app from a single codebase that produces a standalone desktop app, an in-browser web app and an iOS/Android app.</p>
        <p>Along the way, we'll cover
          <ul>
            <li>A high level overview of the Ember.js ecosystem, including build tools and "add-ons"</li>
            <li>Recent improvements to Ember's view layer, and the ramifications on mobile performance</li>
            <li>Best practices for tooling & build pipelines, to maintain your cross-device compatibility</li>
          </ul>
        </p>
      {{/md-horiz-image-card}}
    </div>
  </div>
</div>



