<div class="container">
<div class="row">
  <div class="col s12 text-center">
    {{#md-card title="Under construction"}}
      {{#md-card-content}}
        I'll get around to this soon
        {{/md-card-content}}
    {{/md-card}}
  </div>
</div>
{{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}