<div class="navbar-fixed">
{{#main-nav class="deep-purple"}}
  {{#link-to 'speaking' tagName="li"}}
    <a class="fa fa-comment">Speaking</a>
  {{/link-to}}
{{/main-nav}}
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}