<div class="container">
  <div class="row">
    <div class="col s12">
      {{#md-horiz-image-card
        class="z-depth-2"
        image="/img/mike_north_headshot_medium.jpg"}}
        <div class="card-title grey-text text-darken-3">Hello</div>
        <p>I'm a Principal Software Engineer and UI Engineerind Lead working in the Silicon Valley. Lately I've been working with JavaScript a lot, but I throughout my career I've had the pleasure of working with a broad array of technologies in a wide range of fields.</p>

        <p>My passion is working with product teams and/or entrepreneurs, to bring great ideas to life.</p>
      {{/md-horiz-image-card}}
    </div>
  </div>
</div>
