<div class="container m-t-50">
  <div class="row">
    {{#md-tabs selected=selectedTabId}}
        {{md-tab value='past' title='Past'}}
        {{md-tab value='upcoming' title='Upcoming'}}
    {{/md-tabs}}
  </div>
</div>
{{liquid-outlet}}