<h1 class="text-white">Travel</h1>

<p class="text-white">
  I'm living my dream, of doing what I love while working remotely all over the world.
</p>


{{#each model as |trip|}}
  {{x-trip trip=trip}}
{{/each}}

